body {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, .87);
}

.nav-link.external span{
  display: none
}

.warning a {
  font-weight: bold
}

.custom-block.warning .custom-block-title{
  color: #625200
}

blockquote{
  color: #585858
}