@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

body {
  font-family: 'Lato',sans-serif;
  color: rgba(0,0,0,.87);
}

.hero {
  display: none;
}

.navbar .site-name {
  font-weight: 700 !important;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

img.logo {
  margin-right: 10px !important;
}

.fig-title {
  font-weight: 600
}

.material-icons {
  position: relative;
  top: 5px;
}

.banner {
  background-color: rgba(253, 184, 93, 0.3);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.66);
  display: inline-block;
  font-weight: bold;
  margin: 1em 0 !important;
  padding: 0.75em 1.2em;
}

@media only screen and (max-width: 419px) {
  .navbar .site-name {
    font-size: 0.9rem;
  }
}